* {
	margin: 0;
	padding: 0;
}
@font-face{
	font-family: myFont;
	src: url(/font/RemachineScript_Personal_Use.ttf);
}
h1,h2{
	font-family: myFont;
	text-decoration: underline;
	margin: 1% 0 0 2%;
	font-size: 36px;


}
header{
	width:100%;
	height: 80px;
	background-color: #ff0055;
	top:0;
	border-bottom: 3px solid white;
	font-size: 62px;
	font-family: myFont;
	padding-left: 10px;
}
header img{
	float: right;
	width: 15%;
	margin: -15px 5px 0 0;
}
body{
	background-color: #e6b3e6;
	display: inline-block;
}
.layout > * {
	vertical-align: top;
	display: inline-block;
}
/*tabela*/
.myTable {

width: 55%;
margin: 0 5%;
font-family: myFont;

}
.myTable table {
	border-spacing: 0;
		/*służy do zlikwidowania spacji między borderami od td*/
	border-radius: 10px;
	font-size: 22px;
	font-weight: 400;
	border:  1px solid #ff0055;
	width: 100%;
	
}
.myTable thead{
	vertical-align: middle;
	border-spacing: 0px;
}
.myTable th{
	border-bottom:  1px solid #ff0055;
}
.myTable td {
	border-right:  1px solid #ff0055;
	text-align: center;
}
.myTable tbody td:first-child{
	font-family: "Times New Roman";
	font-size: 18px;
}
.myTable tbody td:last-child{
	border: none;

}
/*tabela - end*/
/*formularz*/
.myForm{
	width: 25%;
	margin-left: 5%;
	font-family: myFont;
}
.myForm form{

	font-size: 22px;
	font-weight: 400;
    border-radius: 9px;
	background-color: #ff0055; 
	border: 1px solid white;
}
.myForm  form ul li{
	margin-top: 10px;
	list-style: none;
}
.myForm  form label{
	margin-left: 10px;
	width: 20%;
	font-family: myFont;
	font-size: 28px;
}
.myForm  form li:first-child label{
	margin-right: 10px;
}
.myForm form input{
	border:  1px solid #ff0055;
	width: 65%;
	padding-left: 2px;

}
.myForm form input,label{
	border-radius: 3px;
}
.myForm button{
	font-family: "Times New Roman";
	font-size: 16px;
	font-weight: 200;
	color: white;
	border-radius: 9px;
	background-color: #b30059;
	box-shadow: 2px 2px 10px white;
	padding: 3px 10px;
	margin: 3% 35%;
}
/*formularz - end*/